html {
  margin: 0px;
}
body {
  margin: 0px;
  font-family: "Old Standard TT", serif;
  overflow-x: hidden;
  padding: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  font-family: "Old Standard TT", serif;
}
.menu_second {
  display: none;
  position: absolute;
  top: 50px;
  list-style: none;
  padding: 5px;
  background-color: white;
  z-index: 1;
}

.menu_flex-container_item:nth-child(2):hover > .menu_second {
  display: block;
}
.menu_logo {
  width: 100px;
  height: 70px;
}
.menu_flex-container {
  display: flex;
  list-style: none;
  font-size: 1.5vw;
  justify-content: space-between;
}
.menu_flex-container_item {
  padding-right: 20px;
}
.menu_flex-container_item a {
  text-decoration: none;
  color: black;
}
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 250px;
  left: 10px;
  background: rgb(241, 203, 192);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #705b3c;
  display: block;
}

.sidenav a:hover {
  color: #922105;
}
h1 {
  color: #6d6a50;
  font-family: "Old Standard TT", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
}
h2 {
  color: #6d6a50;
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 30px 0 24px;
  text-align: center;
}
.description_screen {
  height: 80vh;
  width: 100vw;
  padding-top: 100px;

  background-color: rgba(255, 226, 194, 0.993);
}
.description_block {
  width: 50vw;
  margin: auto;
  padding: 50px;
  font-family: "Old Standard TT", serif;
  color: black;
  border-radius: 20px;
  border: 2px dashed rgb(167, 135, 110);
  box-shadow: inset 2px 2px 20px #a18b61,
    inset -5px -5px 20px rgb(245, 233, 202);
}
.description_h2 {
  margin: 0 auto;
  padding-top: 20px;

  font-size: 3vw;
  font-weight: normal;
}
.description_p {
  color: rgb(48, 46, 46);
  text-shadow: none;
  font-family: "Old Standard TT", serif;
}
.opportun {
  background-color: rgb(238, 164, 205);
  height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.center {
  -webkit-box-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 100px;
}

.card {
  background-color: white;

  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  box-shadow: -20px -20px 0px 0px rgb(216, 127, 176);
  border-radius: 10px;
  -webkit-animation-name: shadow-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5 {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  color: #282828;
}
.card hr {
  display: block;
  border: none;
  height: 3px;
  background-color: rgb(216, 127, 176);
  margin: 0px;
  -webkit-animation-name: line-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s;
  /* Safari 4.0 - 8.0 */
  animation-name: line-show;
  animation-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}
.card p {
  margin: 15px 0px 0px 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  letter-spacing: -0.25px;
  line-height: 1.25;
  font-size: 16px;
  word-break: break-all;
  
  color: #282828;
  -webkit-animation-name: p-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: p-show;
  animation-duration: 1.5s;
}
.card button {
  border: none;
  background-color: rgb(216, 127, 176);
  width: 50%;
  margin: 10px auto;
  padding: 10px 30px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}
/* Standard syntax */
@keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
  from {
    color: white;
  }
  to {
    color: #282828;
  }
}
/* Standard syntax */
@keyframes p-show {
  from {
    color: white;
  }
  to {
    color: #282828;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
  from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    box-shadow: -20px -20px 0px 0px rgb(216, 127, 176);
  }
}
/* Standard syntax */
@keyframes shadow-show {
  from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    box-shadow: -20px -20px 0px 0px rgb(216, 127, 176);
  }
}
.opportun_grid-container {
  display: grid;
  grid-template: repeat(auto-fit, minmax(300px, 78vh)) / repeat(
      auto-fit,
      minmax(30vw, 40vw)
    );
  margin: 0 auto;
  justify-content: center;
  width: 90vw;
  gap: 50px;
  align-content: flex-start;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(243, 222, 183);
}
.footer-container_p {
  font-family: "Old Standard TT", serif;
  color: rgb(49, 47, 47);
}
@media print {
  .main,
  .main_form,
  .card button {
    display: none;
  }
  .description_screen {
    background-color: white;
    padding: 0;
  }
  .opportun {
    background-color: white;
  }
  .card {
    box-shadow: none;
  }
  .center {
    margin: 0;
  }
  .footer-container {
      background-color: white;
  }
  .sidenav{
      display: none;
  }
}
